.tss_testimonial_slider .owl-carousel{
	overflow:hidden;	
}
.tss_testimonial_slider .owl-carousel .owl-stage-outer{
}
.tss_testimonial_slider .owl-carousel .owl-item img{
	max-width:100%;
	width:100%;
}


/*-- Arrow Nav --*/
.tss_testimonial_slider .owl-theme .owl-controls .owl-nav [class*=owl-] {
    color: #fff;
    font-size: 0px;
    padding: 6px 6px;
    background: rgba(0, 0, 0, 0.42);
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.13s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: all 0.13s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    margin-top: -13px;
}
.tss_testimonial_slider.dots_true .owl-theme .owl-controls .owl-nav [class*=owl-] {
	margin-top: -34px;
}
.tss_testimonial_slider .owl-theme .owl-controls .owl-nav [class*=owl-]:before{
	font-size:14px !important;
	font: 400 20px/1 dashicons;
    speak: none;
    padding: 4px 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: none!important;
	content: "\f341";
}
.tss_testimonial_slider .owl-theme .owl-controls .owl-nav .owl-next:before{
	content: "\f345";
}
.tss_testimonial_slider .owl-theme .owl-controls .owl-nav .owl-prev{ left: -60px; }
.tss_testimonial_slider .owl-theme .owl-controls .owl-nav .owl-next{ right: -60px; }
.tss_testimonial_slider:hover .owl-theme .owl-controls .owl-nav .owl-prev{ left: 0px; }
.tss_testimonial_slider:hover .owl-theme .owl-controls .owl-nav .owl-next{ right: 0px; }

/*-- Dot Nav --*/
.tss_testimonial_slider .owl-theme .owl-dots{
	margin-top:20px;
}
.tss_testimonial_slider .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}
.tss_testimonial_slider .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #d6d6d6;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.tss_testimonial_slider .owl-theme .owl-dots .owl-dot.active span, 
.tss_testimonial_slider .owl-theme .owl-dots .owl-dot:hover span {
    background: #869791;
}